<div id="header">
        <a href="/" id="home-link">Home</a>
    <span id="header-links">
        <a href="/about">About</a>
        <a href="/portfolio">Portfolio</a>
        <a href="/contact">Contact</a>
        <a href="/signup">Mailing List</a>
        <a href="/blog">Blog</a>
    </span>
</div>