<div id="header">
    <span id="home-link">
        <a href="/">HOME</a>
    </span>
    <span id="header-links">
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
        <a href="/blog">Blog</a>
    </span>
</div>