:root {
    --dark-bg:rgb(11, 14, 21);
    --dark-bg-complement:rgb(33, 47, 61);
    --dark-text: rgb(151, 154, 154);
    --light-text: #D5D8DC;
    --highlight:rgb(0, 255, 149);
    --greyish:#BCC0C4;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home{
    background: url("../img/home.jpg") no-repeat; 
}
.about{
    background: url("../img/about.jpg") no-repeat; 
}
.portfolio{
    background: url("../img/portfolio.jpg") no-repeat; 
}
.contact{
    background: url("../img/contact.jpg") no-repeat; 
}
.signup{
    background: url("../img/signup.jpg") no-repeat; 
}
.blog{
    background: url("../img/blog.jpg") no-repeat; 
}

.wrapper {
    font-family: "Coda",Arial, Helvetica, sans-serif;
    background-size: contain;
    background-position: 0 100%;
    color: var(--light-text);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}
.wrapper:after{
    position: fixed;
    content: " ";
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    background-color: rgba(33, 47, 61, 0.30);
}

p {
    font-family: "Raleway",Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    color: var(--light-text);
    padding:10px;
    transition: 0.3s;
}
a:hover {
    background-color: rgb(0, 255, 149);
    color:var(--dark-bg);
}
.highlight{
    color:var(--highlight);
}
.bracket{
    margin: 0 5%;
}
.indented{
    margin:20px 0 0 40px;
    font-size: 20px;
}
#header {
    background: var(--dark-bg);
    padding:10px;
    z-index: 1;
    border-bottom: 2px solid var(--highlight);
}
#header-links {
    float: right;
    margin-right:10px
}
#home-link {
    margin-left: 10px;
}
#footer {
    background: var(--dark-bg);
    padding: 10px;
    z-index: 1;
    color: var(--dark-text);
    font-size: 14px;
    text-align: center;
}
.thicc {
    font-size: 72px;
}
.padded{
    padding:12px;
}
/************************************/

#front-matter {
    width:500px;
    margin: 25px auto 75px auto;
    text-align: center;
    background:var(--dark-bg);
    border-radius: 15px;
    box-shadow: 10px 10px 10px 10px var(--dark-bg-complement);
    z-index: 1;
}
#front-matter h1 {
    margin: 5px 0;
}
#front-matter p {
    margin: 10px 0;
    color:var(--highlight);
}

/************************************/

#about-front-matter {
    line-height: 1.5;
    width:75%;
    height: 50vh;
    margin: 0 auto 10%;
    text-align: left;
    background:var(--dark-bg);
    border-radius: 15px;
    box-shadow: 10px 10px 10px 10px var(--dark-bg-complement);
    z-index: 1;
    overflow: scroll;
    font-size: 20px;
}
#about-front-matter::-webkit-scrollbar{
    display: none;
}
#about-front-matter p {
    margin: 24px;
    text-align: justify;
}
#ranger-box img{
    width:100%;
}
#ranger-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:100%;
    margin:0 auto;
}
#ellipsis{
    text-align: center;
    font-size: 64px;
    font-weight: bold;
    width:50%;
    margin: 0 auto;
    line-height: 24px;
    padding: 12px;
    letter-spacing: 12px;
}

/************************************/
.contact-front-matter{
    background:var(--dark-bg);
    border-radius: 15px;
    box-shadow: 10px 10px 10px 10px var(--dark-bg-complement);
    z-index: 1;
}
#contact-box{
    display:flex;
    flex:1;
}
#contact-left{
    margin: 5% 5% 10% 5%;
    flex:1;
    width:50%;
}
#crane{
    -webkit-filter:invert(80%); 
    filter:invert(80%);
    
    width:20%;
    float: left;
}
#contact-left-wrapper{
    display: flex;
    flex-direction: column;
    width:90%;
    height:100%;
    margin: 0 auto;
}
#contact-info{
    margin: auto 0 10% 0;
    text-align: right;
    line-height: 1.5em;
    width:100%;
}
#contact-subtext{
    color:var(--highlight);
    text-align: center;
    margin: 2%;
}
#contact-passage{
    line-height: 1.5em;
    text-align: justify;
    font-size: 20px;
}
#contact-right{
    margin: 5% 5% 10% 5%;
    flex:1;
    width:50%;
}
#contact-right form{
    height: 100%;
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
#contact-right input{
    width:90%;
    margin: .5% auto;
    font-size: 22px;
    background-color: var(--greyish);
    border: none;
}
#contact-box h2{
    margin-top:2%;
    text-align: center;
}
#compose{
    width:90%;
    flex:1;
    margin: 2% auto 0 auto;
    resize: none;
    color: #000000;
    background-color: var(--greyish);
    font-size: 18px;
}
.submit{
    height:30px;
    width:25%;
    margin: 2% auto;
    background-color: var(#BCC0C4);
    font-weight: bold;
    border:none;
    transition: 0.3s;
    border-radius: 10px;
}
.submit:hover{
    background-color:var(--highlight);
}


/************************************/

#signup-form{
    flex:1;
    width: 625px;
    height: 600px;
    margin: 5% auto;
    z-index: 1;
    border: none;
    background-color: var(--dark-bg);
    border-radius: 15px;
}

/************************************/
#notfound-front-matter {
    width:500px;
    margin: 25px auto 75px auto;
    padding:2%;
    text-align: center;
    background:var(--dark-bg);
    color:var(--highlight);
    border-radius: 15px;
    box-shadow: 10px 10px 10px 10px var(--dark-bg-complement);
    z-index: 1;
}
/************************************/
#blog-front-matter{
    background:var(--dark-bg);
    display: flex;
    flex:1;
    margin: 2.5% 2.5% 10% 2.5%;
    box-shadow: 10px 10px 10px 10px var(--dark-bg-complement);
    border-radius: 15px;
}
#blog-posts{
    flex:1;
}
#blog-post{
    flex:4; 
}
/************************************/
#blog-compose-wrapper{
    padding:0.5%;
    background:var(--dark-bg);
    box-shadow: 10px 10px 10px 10px var(--dark-bg-complement);
    border-radius: 15px;
    margin: 0 auto;
    z-index: 1;
}
#blog-compose{
    display: flex;
    flex-direction: column;
}
#blog-compose button{
    width:50%;
    margin: 24px auto 0 auto;
}
#blog-compose textarea{
    margin-top: 12px;
}
/************************************/

@media (max-width: 500px) {
    #header {
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    #header-links {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    #home-link{
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    #front-matter{
        width:300px;
    }
    #notfound-front-matter{
        width:300px;
    }
    #signup-front-matter{
        width:300px;
    }

    .highlight {
        margin:0;
    }

    #ellipsis{
        font-size:2em;
    }

}

@media (max-width: 1024px) {
    .wrapper{
        background-position: 0 97%;
    }
    #about-front-matter{
        font-size:12px;
    }
    #contact-box{
        flex-direction: column;
        align-items: center;
    }
    #contact-left{
        width:90%;
    }
    #contact-right{
        width:90%;
        height:350px;
    }
    #contact-info{
        margin-top:50px;
    }
    #signup-form{
        width:100%;
        border-radius: 0;
        flex:1;
        margin: 0 auto;
    }
}