:root {
    --dark-bg:rgb(11, 14, 21);
    --dark-bg-complement:rgb(33, 47, 61);
    --dark-text: rgb(151, 154, 154);
    --light-text: rgb(213, 216, 220);
    --highlight:rgb(0, 255, 149);
    --greyish:rgb(188, 192, 196);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.home{
    background: url("../img/home.jpg") no-repeat; 
}
.about{
    background: url("../img/about.jpg") no-repeat; 
}
.portfolio{
    background: url("../img/portfolio.jpg") no-repeat; 
}
.contact{
    background: url("../img/contact.jpg") no-repeat; 
}
.signup{
    background: url("../img/signup.jpg") no-repeat; 
}
.blog{
    background: url("../img/blog.jpg") no-repeat; 
}
.wrapper {
    font-family: "Coda",Arial, Helvetica, sans-serif;
    background-size: contain;
    background-position: 0 100%;
    color: var(--light-text);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.wrapper:after{
    position: fixed;
    content: " ";
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    background-color: rgba(33, 47, 61, 0.30);
}
.ruler{
    width:50%;
    margin:0 auto;
    height: 2px;
    background-color: var(--highlight);
}
.flipped{
    transform: rotate(180deg);
    width:100%;
    position: relative;
    bottom:1.5em;
}
.box{
    background-color: var(--dark-bg);
    box-shadow: 10px 10px 10px 10px var(--dark-bg-complement);
    border-radius: 15px;
    z-index: 1;
}
.highlight{
    color:var(--highlight);
}
.ellipsis{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    width:50%;
    margin: 0 auto;
    line-height: 24px;
    padding: 12px;
    letter-spacing: 12px;
}
p {
    font-family: "Raleway",Arial, Helvetica, sans-serif;
}
ul {
    list-style: none;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color:var(--highlight);
}
a:visited{
    color:var(--highlight);
}
#header a {
    color: var(--light-text);
    padding:10px;
    transition: 0.3s;
}
#header a:hover {
    background-color: rgb(0, 255, 149);
    color:var(--dark-bg);
    font-weight: bold;
}
#header {
    background: var(--dark-bg);
    padding:10px;
    z-index: 1;
    border-bottom: 2px solid var(--highlight);
}
#header-links {
    float: right;
    margin-right:10px
}
#home-link {
    margin-left: 10px;
}
#footer {
    background: var(--dark-bg);
    padding: 5px;
    z-index: 1;
    color: var(--dark-text);
    font-size: 14px;
    text-align: center;
    margin-top: auto;
}
.thicc {
    font-size: 72px;
}
.padded{
    padding:12px;
}
/************************************/
#front-matter {
    width:500px;
    margin: 0 auto;
    text-align: center;
}
#front-matter h1 {
    margin: 5px 0;
}
#front-matter p {
    margin: 10px 0;
}
/************************************/
#about-front-matter {
    display: flex;
    line-height: 1.5;
    width:80vw;
    height:80vh;
    margin: 2% auto;
    text-align: left;
    overflow: scroll;
    font-size: 20px;
}
#about-front-matter::-webkit-scrollbar{
    display: none;
}
#about-front-matter p {
    margin: 24px;
    text-align: justify;
}
#about-box{
    display:flex;
    flex-direction: column;
}
#about-box img:first-child {
    width:45%;
    margin:16px auto;
    border-radius: 15px;
}
#about-box img:last-child {
    width:100%;
}
/************************************/
#portfolio-wrapper{
    display: flex;
    flex-direction: column;
    margin: 15px auto 15% auto;
    width: 80vw;
}
#portfolio-wrapper::-webkit-scrollbar{
    display: none;
}
.project{
    padding:24px;
    margin:24px 0;
    display: flex;
    justify-content: space-between;
}
.project-description{
    display:flex;
    flex-direction: column;
    width:100%;
}
.project-passage{
    margin: 24px;
    text-align: justify;
    font-size: 18px;
}
#my-projects{
    margin:0 auto;
    font-size: 36px;
    padding: 12px;
    letter-spacing: 5px;
}
#my-projects .ruler{
    width:100%;
}
.project a:hover{
    text-decoration: underline;
}
#ctmt{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ctmt{
    margin-top: 12px;
    width:100%;
}
.pytube{
    margin: auto 0;
    padding-right: 2px;
}
#visual-sorts{
    display:flex;
}
.visual-sorts{
    width:50%;
}
.chat{
    height:300px;
}
.pluvius{
    height:400px;
}
.maze{
    width:400px;
}
.portcullis{
    height: 300px;
}
.language{
    width:60px;
    margin-top: 12px;
}
/************************************/
#contact-wrapper{
    /* flex:1; */
    display:flex;
}
.contacts {
    flex:1;
    height: 70vh;
    margin: 2% 5%;
    min-height: 500px;
}
#contact-left{
    display:flex;
    flex-direction: column;
    overflow: scroll;
    align-items: center;
    justify-content: space-between;
}
.contact-head{
    text-align: center;
    padding:16px;
}
#contact-left::-webkit-scrollbar{
    display: none;
}
#contact-links{
    align-self: flex-end;
    padding-right: 5%;
}
#contact-subtext{
    color:var(--highlight);
    text-align: center;
}
#contact-passage{
    line-height: 1.5em;
    text-align: justify;
    font-size: 20px;
    padding:5%;
}
#crane{
    -webkit-filter:invert(80%); 
    filter:invert(80%);
    width:20%;
    align-self: flex-start;
    margin-left: 5%;
}
#contact-right form{
    height: 100%;
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
#contact-right input{
    width:90%;
    margin: .5% auto;
    font-size: 22px;
    background-color: var(--greyish);
    border: none;
}
#contact-compose{
    width:90%;
    flex:1;
    margin: 2% auto 0 auto;
    resize: none;
    color: #000000;
    background-color: var(--greyish);
    font-size: 18px;
}
.submit{
    height:30px;
    width:25%;
    margin: 2% auto;
    background-color: var(#BCC0C4);
    font-weight: bold;
    border:none;
    transition: 0.3s;
    border-radius: 10px;
}
.submit:hover{
    background-color:var(--highlight);
}
/************************************/
#signup-form{
    flex:1;
    width: 40%;
    margin: 2% auto 15% auto;
    z-index: 1;
    border: none;
    background-color: var(--dark-bg);
    border-radius: 15px;
    max-height: 700px;
    min-height: 600px;
    min-width: 500px;
}
/************************************/
#notfound-front-matter {
    width:500px;
    margin: 25px auto 75px auto;
    padding:2%;
    text-align: center;
    color:var(--highlight);
}
/************************************/
#post-front-matter{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:1;
    margin: 4% 4% 10% 4%;
    padding: 30px;
}
#blog-box{
    display: flex;
    height: 75vh;
    width:95%;
    margin: 20px auto 50px auto;
}
#blog-sidebar{
    flex:1;
    height:90%;
    margin-right: 4%;
    padding: 12px;
    overflow: scroll;
    text-align: center;
}
#blog-sidebar::-webkit-scrollbar{
    display: none;
}
#blog-sidebar h3 {
    margin-bottom: 16px;
}
#blog-sidebar li{
    padding:4px;
}
#blog-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:5;
    height: 90%;
    overflow: scroll;
    padding:20px;
}
/************************************/
#blog-body a {
    color:var(--highlight);
}
#blog-main::-webkit-scrollbar{
    display: none;
}
/************************************/
#blog-compose-wrapper{
    padding:0.5%;
    margin: 50px auto;
    max-width: 75%;
}
#blog-compose{
    display: flex;
    flex-direction: column;
}
#blog-compose button{
    width:50%;
    border: none;
    margin: 24px auto;
}
#blog-compose textarea{
    margin-top: 12px;
    max-width:100%;
}
#preview {
    width:50%;
    display: block;
    border: none;
    margin: auto;
}
/************************************/
@media (max-width: 500px) {
    #header {
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    #header-links {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    #home-link{
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    #front-matter{
        width:300px;
    }
    #notfound-front-matter{
        width:300px;
    }
    #signup-front-matter{
        width:300px;
    }
    .highlight {
        margin:0;
    }
    #blog-box{
        flex-direction: column-reverse;
    }
    #blog-main{
        margin-bottom: 5%;
    }
    #blog-sidebar{
        margin:0;
    }
    .ruler{
        width:80%;
        margin: 0 auto;
    }
    #about-box p {
        font-size: 12px;
    }
    #about-front-matter{
        margin: auto;
        height: 65vh;
    }
    #portfolio-wrapper{
        margin:15px 0 15% 0;
        width: 100%;
    }
    .project-description p {
        text-align: left;
    }
}
@media (max-width: 650px) {
    .project-images img{
        width:300px;
    }
    #visual-sorts{
        flex-direction: column;
    }
    #visual-sorts img{
        margin-top: 12px;
    }
}
@media (max-width: 1024px) {
    .ellipsis{
        font-size: 24px;
        margin: 0 auto;
    }
    #contact-wrapper{
        flex-direction: column;
        align-items: center;
    }
    .contacts{
        width: 90%;
    }
    #contact-info{
        margin-top:50px;
    }
    #signup-form{
        width:100%;
        border-radius: 0;
        flex:1;
        margin: 0 auto;
    }
    #visual-sorts{
        flex-direction: column;
    }
    .visual-sorts{
        width:80%;
        margin: 20px auto 0 auto;
    }
}
@media (max-width: 1500px) {
    .project{
        flex-direction: column;
    }
    .project-images{
        margin:0 auto;
    }
    #visual-sorts{
        margin: 12px auto;
    }
    .ctmt{
        width:400px;
    }
}
@media (min-width:1921px) {
    #about-box img:last-child {
        width:80%;
        margin: 16px auto;
        border-radius: 15px;
    }
    #about-front-matter{
        width:50%;
    }
    #portfolio-wrapper{
        width:50%;
    }
}