:root {
    --dark-bg:#17202A;
    --light-text: #D5D8DC;
}

*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

body {
    font-family: "Coda",Arial, Helvetica, sans-serif;
    background: var(--dark-bg);
    color: var(--light-text);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: var(--light-text);
}

#front-matter {
    width:50%;
    margin: 0 auto;
    border:2px solid red;
    text-align: center;
}

#front-matter p {
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    margin-top: 25px;
}

#header {
    border:2px solid red;
}

#header-links {
    border: 2px solid green;
    float: right;
}

#home-link {
    border: 2px solid green;
}

#footer {
    border:2px solid red;
}