{{>html_header}}
<div class="wrapper about">
{{>header}}
<div id="about-front-matter">
    <div id="about-box">
        <p>
            <span class="highlight">Hey there, thanks for stopping by-</span> My name is Eddie. 
            I'm a developer with a serious passion for writing code.
            I primarily work with Python, Node.js (MERN), C++, and some occasional bash scripting. 
            Since the day I discovered the terminal, my desire to learn and grow as a software engineer has only grown stronger. 
            Building programs, problem solving, and turning great ideas into great software is what I do best, and nothing brings me a greater feeling!
        </p>

        <div class="ellipsis highlight">· · · </div>
        <p>
            Some of my non-programming hobbies include playing with 3D printers and CNC machines, and World of Warcraft will forever remain in a very special place in my heart- albeit I don't have a great deal of spare time for it these days. Software development would later fill the niche that video games held for me in a way no game ever could. There simply aren't any video games that possess a challenge-to-reward ratio anywhere near what your Python interpreter or C++ compiler can provide. 
        </p>
        <div class="ellipsis highlight">· · · </div>

        <p>
            There is one thing, however, that gets me off the computer and breathing fresh air: My Ranger 488. I almost forgot to mention I love bass fishing. It's not terribly uncommon to find my father situated in the passenger seat, either. He's been known to coerce himself into my fishing trips quite often. 
        </p>
        <div class="ellipsis highlight">· · · </div>

    </div>
    <div id="ranger-box">
        <img src="/img/fish.jpg" alt="fishing">
        <img src="/img/fish2.jpg" alt="fishing">
        <img src="/img/ranger.jpg" alt="ranger bass boat">
        <img src="/img/mercury.jpg" alt="mercury motors">
    </div>

</div>

{{>footer}}
</div>
{{>html_footer}}