{{>html_header}}
<div class="wrapper blog">
    {{>header}}
    <div id="blog-compose-wrapper" class="box">
        <h2>Edit Post</h2>
        <form id="blog-compose" action="/blog/{{_id}}?_method=PATCH" method="POST">
            <input type="text" name="title" id="compose-title" value="{{title}}">
            <textarea name="body" id="compose-body">{{body}}</textarea>
            <button>Submit</button>
        </form>
    </div>
    {{>footer}}
</div>
{{>html_footer}}