{{>html_header}}
<div class="wrapper blog">
{{>header}}
<div id="front-matter" class="highlight">Coming Soon.</div>
{{!-- <div id="blog-front-matter">
    <div id="blog-posts"></div>
    <div id="blog-post"></div>
</div> --}}
{{>footer}}
</div>
{{>html_footer}}