{{>html_header}}
<div class="wrapper blog">
    {{>header}}
    <div id="post-front-matter" class="box">
        <h1 id="blog-title">
            {{title}}
        </h1>
        <div id="blog-body">
            {{{body}}}
        </div>
    </div>
    {{>footer}}
</div>
{{>html_footer}}