{{>html_header}}
    <div class="wrapper home">
        {{>header}}
        <div id="front-matter">
            <br>
            Unsubscribed.
            <br>
        </div>
        {{>footer}}
        <script src="js/home.js"></script>
    </div>
{{>html_footer}}
