{{>html_header}}
<div class="wrapper contact">
    {{>header}}
    <div id="contact-wrapper">

        <div id="contact-left" class="contacts box">
            <div class="contact-head">
                <h2>Get in touch with me</h2>
                <p id="contact-subtext">I can build the website you want.</p>

            </div>
            <p id="contact-passage">
                Feel free to contact me with questions or inquiries any time.
                Whether it's application software, automation, a static webpage, or an
                online store for your business- the
                craftsmanship I'll put into the creation and continuous delivery of your
                product is outstanding. My
                pursuit is excellence, and I'm available for hire or cooperation. Reach
                out, and I'll contact you in
                less than 24 hours.
            </p>
            <div id="contact-links">
                <a href="mailto:ed@emboiko.com">Ed@emboiko.com</a>
                <br>
                <a href="https://github.com/emboiko">https://github.com/emboiko</a>
            </div>
            <img id="crane" src="/img/crane.png" alt="crane">
        </div>

        <div id="contact-right" class="contacts box">

            <form action="/contact" method="POST">
                <h2 class="contact-head">Write me a message</h2>
                <p class="highlight mbottom">{{error}}</p>
                <input type="text" name="name" id="message-name" placeholder="Name"
                    value={{name}}>
                <input type="text" name="email" id="message-email" placeholder="Email"
                    value={{email}}>
                <textarea name="compose" id="contact-compose"
                    required>{{message}}</textarea>
                <div class="g-recaptcha" data-theme="dark"
                    data-sitekey="6Le-QR0aAAAAAJ2wycV2WIXQKRuiNUQ4M3pryL4O"></div>
                <button class="submit">Submit</button>
            </form>
        </div>

    </div>

    {{>footer}}
</div>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>

{{>html_footer}}