{{>html_header}}
<div class="wrapper contact">
{{>header}}
<div id="contact-box">
    <div id="contact-left" class="contact-front-matter">
        <h2>Get in touch with me</h2>
        <p>Let me build your next website or application</p>
        <p>Ed@emboiko.com</p>
        <p>https://github.com/emboiko</p>
    </div>
    <div id="contact-right" class="contact-front-matter">
        <h2>Write me a message</h2>
        <form>
            <textarea name="compose" id="compose" cols="30" rows="10"></textarea>
            <button id="submit">Submit</button>

        </form>
    </div>
</div>
{{>footer}}
</div>
{{>html_footer}}