{{>html_header}}
<div class="wrapper home">
    {{>header}}
    <div id="front-matter">
        <h1>
            <span class="highlight">&#123;</span>
            Edward M. Boiko
            <span class="highlight">&#125;;</span>
        </h1>
        <p id="front-matter-text">Fullstack Developer</p>
    </div>
    {{>footer}}
    <script src="js/home.js"></script>
</div>
{{>html_footer}}