{{>html_header}}
<div class="wrapper home">
    {{>header}}
    <img class="flipped" src="/img/home.jpg">
    <div id="front-matter" class="box">
        <h1>
            Edward M<span class="highlight">.</span> Boiko
        </h1>
        <div class="ruler highlight"></div>
        <p id="front-matter-text">Fullstack Developer</p>
    </div>
    <script src="js/home.js"></script>

    {{>footer}}

</div>


{{>html_footer}}