{{>html_header}}
<div class="wrapper blog">
    {{>header}}
    <div id="blog-compose-wrapper">
        {{#if messages.error}}
        {{messages.error}}
        {{/if}}
        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <button>Login</button>
        </form>
    </div>
    {{>footer}}
</div>
{{>html_footer}}