{{>html_header}}
<div class="wrapper blog">
    {{>header}}
    <div id="blog-compose-wrapper">
        <form action="/logout?_method=DELETE" method="POST">

            <button>Logout</button>

        </form>
    </div>

    {{>footer}}
</div>
{{>html_footer}}