{{>html_header}}
<div class="wrapper blog">
    {{>header}}
    <div id="notfound-front-matter" class="box">
        <p id="notfound" class="thicc">404</p>
        <p id="notfound">Page not found.</p>
    </div>
    {{>footer}}
</div>
<script src="js/submitted.js"></script>
{{>html_footer}}