{{>html_header}}
<div class="wrapper portfolio">
    {{>header}}
    <h2 id="my-projects">My Projects</h2>
    <div id="portfolio-wrapper">
        <div class="project box">
            <div class="project-description">
                <a href="https://github.com/emboiko/CopyTo-MoveTo" target="_blank">CopyTo-MoveTo</a>
                <p>Windows File Manager</p>
                <img class="language" src="img/python.png" alt="python">
            </div>
            <div id="ctmt" class="project-images">
                <img class="ctmt" src="img/portfolio/CopyTo-MoveTo.png" alt="CopyTo-MoveTo">
            </div>
        </div>

        <div class="project box">
            <div class="project-description">

                <a href="https://github.com/emboiko/Ufd" target="_blank">Ufd</a>
                <p>Unopinionated/Universal file dialog</p>
                <img class="language" src="img/python.png" alt="python">
            </div>
            <div id="ufd" class="project-images">
                <img class="ufd" src="img/portfolio/Ufd.png" alt="Ufd">
            </div>
        </div>

        <div class="project box">
            <div class="project-description">

                <a href="https://github.com/emboiko/Socket_Singleton" target="_blank">Socket Singleton</a>
                <p>Allow a single instance of a python application to run at one time.</p>
                <img class="language" src="img/python.png" alt="python">
            </div>
            <div id="singleton" class="project-images">
                <img src="img/portfolio/singleton.png" alt="Socket-Singleton">
            </div>
        </div>

        <div class="project box">
            <div class="project-description">
                <a href="https://github.com/emboiko/PyTube-GUI" target="_blank">PyTube-GUI</a>
                <p>Download a local copy of a YouTube video, or just the audio- powered by <a href="#">Pytube</a></p>
                <img class="language" src="img/python.png" alt="python">
            </div>
            <div id="pytube" class="project-images">
                <img class="pytube" src="img/portfolio/Pytube-GUI.png" alt="Pytube-GUI">
            </div>
        </div>

        <div class="project box">
            <div class="project-description">
                <a href="https://github.com/emboiko/Visual-Sorts" target="_blank">Visual-Sorts</a>
                <p>See and hear the differences in sorting algorithms</p>
                <img class="language" src="img/python.png" alt="python">
            </div>
            <div id="visual-sorts" class="project-images">
                <img class="visual-sorts" src="img/portfolio/Visual-Sorts1.png" alt="Visual-Unsorted">
                <img class="visual-sorts" src="img/portfolio/Visual-Sorts2.png" alt="Visual-Sorted">
            </div>
        </div>

        <div class="project box">
            <div class="project-description">
                <a href="https://github.com/emboiko/Task-Man" target="_blank">Task-Man</a>
                <p>RESTful CRUD backend for a note-taking interface</p>
                <img class="language" src="img/javascript.png" alt="javascript">
            </div>
            <div id="taskman" class="project-images">
                <img src="img/portfolio/task.png" alt="task">
            </div>
        </div>

        <div class="project box">
            <div class="project-description">
                <a href="https://github.com/emboiko/Shortbus_Chat" target="_blank">Shortbus</a>
                <p>Where important conversations happen</p>
                <img class="language" src="img/javascript.png" alt="javascript">
            </div>
            <div id="shortbus-chat" class="project-images">
                <img class="chat" src="img/portfolio/chat1.png" alt="chatroom">
            </div>
        </div>

        <div class="project box">
            <div class="project-description">
                <a href="https://github.com/emboiko/Pluvius" target="_blank">Pluvius</a>
                <p>Tiny weather app that uses <a href="#">Mapbox</a> geocoding and <a href="#">Darksky</a> forecast data
                </p>
                <img class="language" src="img/javascript.png" alt="javascript">
            </div>
            <div id="pluvius" class="project-images">
                <img class="pluvius" src="img/portfolio/Pluvius.png" alt="Pluvius">
            </div>
        </div>

        <div class="project box">
            <div class="project-description">
                <a href="https://github.com/emboiko/Watch" target="_blank">Watch</a>
                <p>An imitation of <a href="#">nodemon</a> for javascript and python</p>
                <img class="language" src="img/javascript.png" alt="javascript">
            </div>
            <div id="watch" class="project-images">
                <img class="watch" src="img/portfolio/watch.png" alt="Watch">
            </div>
        </div>

        <div class="project box">
            <div class="project-description">
                <a href="https://github.com/emboiko/JS_Mazes" target="_blank">JS_Mazes</a>
                <p>Maze generator with <a href="#">matter.js</a> collisions</p>
                <img class="language" src="img/javascript.png" alt="javascript">
            </div>
            <div id="maze" class="project-images">
                <img class="maze" src="img/portfolio/maze.png" alt="Maze">
            </div>
        </div>

        <div class="project box">
            <div class="project-description">
                <a href="https://github.com/emboiko/Portcullis" target="_blank">Portcullis</a>
                <p>Attach a callback function(s) to your door</p>
                <img class="language" src="img/cpp.png" alt="c++">
            </div>
            <div id="portcullis" class="project-images">
                <img class="portcullis" src="img/portfolio/portcullis.png" alt="Portcullis">
            </div>
        </div>

    </div>
    {{>footer}}
</div>
{{>html_footer}}