{{>html_header}}
<div class="wrapper portfolio">
    {{>header}}
    <img class="flipped" src="img/portfolio.jpg">
    <div class="box" id="my-projects">
        <h2>Projects</h2>
        <div class="ruler"></div>
    </div>
    <div id="portfolio-wrapper">
        <div class="project box">
            <div class="project-description">
                <a href="https://github.com/emboiko/CopyTo-MoveTo" target="_blank">CopyTo-MoveTo</a>
                <p>Windows File Manager</p>
                <img class="language" src="img/python.png" alt="python">
                <p class="project-passage">
                    Copyto-Moveto is a GUI utility for making the process of copying and moving files and/or directories
                    more explicit, and is intended to be used alongside Windows Explorer or by itself. It is built with
                    Python +
                    Tkinter/TCL, made for Windows platforms, and is dependency free. Support for Linux and Mac may come
                    in the future.
                    <br>
                    <br>
                    Ufd &amp; Socket Singleton are submodules of CopyTo-MoveTo. Therefore, only one instance of the
                    application is allowed to exist at a time. Subsequent calls to the program pass their arguments to
                    the main process and exit.
                </p>
            </div>
            <div id="ctmt" class="project-images">
                <img class="ctmt" src="img/portfolio/ctmt.png" alt="CopyTo-MoveTo">
                <img class="ctmt" src="img/portfolio/ctmt2.png" alt="CopyTo-MoveTo">
            </div>
        </div>

        <div class="project box">
            <div class="project-description">

                <a href="https://github.com/emboiko/Ufd" target="_blank">Ufd</a>
                <p>Unopinionated/Universal file dialog</p>
                <img class="language" src="img/python.png" alt="python">
                <p class="project-passage">
                    This program was [primarily] created to work around the limitations of built-in filedialogs included
                    in dotNET, Tcl, and other GUI libraries. Standard dialogs do not support multi-selection of both
                    files and directories all from a single dialog. Ufd doesn't care what kind of dialog
                    it's serving
                    as- you get to deal with any ambiguities in your own way. Want to select 3 directories and 2 files
                    from the same dialog, and have their paths returned as a list? No worries. Perhaps you'd prefer to
                    corral the user into selecting a single file instead- simply modify the constructor accordingly.
                </p>
            </div>
            <div id="ufd" class="project-images">
                <img class="ufd" src="img/portfolio/Ufd.png" alt="Ufd">
            </div>
        </div>

        <div class="project box">
            <div class="project-description">

                <a href="https://github.com/emboiko/Socket_Singleton" target="_blank">Socket Singleton</a>
                <p>Allow a single instance of a python application to run at one time.</p>
                <img class="language" src="img/python.png" alt="python">
                <p class="project-passage">
                    Socket-based, single-instance Python applications with a clean interface
                    <br>
                    No lockfiles, mutexes, dependencies, or tomfoolery
                </p>
            </div>
            <div id="singleton" class="project-images">
                <img src="img/portfolio/singleton.png" alt="Socket-Singleton">
            </div>
        </div>

        <div class="project box">
            <div class="project-description">
                <a href="https://github.com/emboiko/PyTube-GUI" target="_blank">PyTube-GUI</a>
                <p>Download a local copy of a YouTube video, or just the audio</p>
                <img class="language" src="img/python.png" alt="python">
                <p class="project-passage">
                    Powered by <a href="https://github.com/nficano/pytube">Pytube</a> &amp; <a
                        href="https://www.ffmpeg.org/">ffmpeg</a>
                </p>
            </div>
            <div id="pytube" class="project-images">
                <img class="pytube" src="img/portfolio/Pytube-GUI.png" alt="Pytube-GUI">
            </div>
        </div>

        <div class="project box">
            <div class="project-description">
                <a href="https://github.com/emboiko/Visual-Sorts" target="_blank">Visual-Sorts</a>
                <p>See and hear the differences in sorting algorithms</p>
                <img class="language" src="img/python.png" alt="python">
                <p class="project-passage">
                    Featuring bubble, cocktail, gnome, insertion, selection, and shell sorts
                    <br>
                    <br>
                    Inspired by <a href="https://www.youtube.com/watch?v=kPRA0W1kECg" target="_blank">this video</a>
                </p>
            </div>
            <div id="visual-sorts" class="project-images">
                <img class="visual-sorts" src="img/portfolio/Visual-Sorts1.png" alt="Visual-Unsorted">
                <img class="visual-sorts" src="img/portfolio/Visual-Sorts2.png" alt="Visual-Sorted">
            </div>
        </div>

        <div class="project box">
            <div class="project-description">
                <a href="https://github.com/emboiko/Task-Man" target="_blank">Task-Man</a>
                <p>RESTful CRUD backend for a note-taking interface</p>
                <img class="language" src="img/javascript.png" alt="javascript">
                <p class="project-passage">
                    This Express API features a JWT-based login system with MongoDB, bcrypt, file upload with Multer,
                    and a Jest test suite.
                </p>
            </div>
            <div id="taskman" class="project-images">
                <img src="img/portfolio/task.png" alt="task">
            </div>
        </div>

        <div class="project box">
            <div class="project-description">
                <a href="https://github.com/emboiko/Shortbus_Chat" target="_blank">Shortbus</a>
                <p>Where important conversations happen</p>
                <img class="language" src="img/javascript.png" alt="javascript">
                <p class="project-passage">(Beta) Chatrooms with Express &amp; Socket.io
                    <br>
                    <a href="http://theshortb.us" target="_blank">http://theshortb.us</a>
                </p>
            </div>
            <div id="shortbus-chat" class="project-images">
                <img class="chat" src="img/portfolio/chat1.png" alt="chatroom">
            </div>
        </div>

        <div class="project box">
            <div class="project-description">
                <a href="https://github.com/emboiko/Pluvius" target="_blank">Pluvius</a>
                <p>Tiny weather app that uses <a href="https://www.mapbox.com/">Mapbox</a> geocoding and <a
                        href="https://darksky.net/forecast/40.7127,-74.0059/us12/en">Darksky</a> forecast data
                </p>
                <img class="language" src="img/javascript.png" alt="javascript">
                <p class="project-passage">
                    <a href="https://pluvius.herokuapp.com/">https://pluvius.herokuapp.com/</a>
                </p>
            </div>
            <div id="pluvius" class="project-images">
                <img class="pluvius" src="img/portfolio/Pluvius.png" alt="Pluvius">
            </div>
        </div>

        <div class="project box">
            <div class="project-description">
                <a href="https://github.com/emboiko/Watch" target="_blank">Watch</a>
                <p>An imitation of <a href="https://www.npmjs.com/package/nodemon">nodemon</a> for javascript and python
                </p>
                <img class="language" src="img/javascript.png" alt="javascript">
                <p class="project-passage">
                    File-watching made easy with <a href="https://www.npmjs.com/package/chokidar">Chokidar</a> and <a
                        href="https://lodash.com/">Lodash</a>
                </p>
            </div>
            <div id="watch" class="project-images">
                <img class="watch" src="img/portfolio/watch.png" alt="Watch">
            </div>
        </div>

        <div class="project box">
            <div class="project-description">
                <a href="https://github.com/emboiko/JS_Mazes" target="_blank">JS_Mazes</a>
                <p>Maze generator with <a href="https://brm.io/matter-js/">matter.js</a> collisions</p>
                <img class="language" src="img/javascript.png" alt="javascript">
                <p class="project-passage">
                    Produce solvable, randomized mazes with a suprise at the end.
                </p>
            </div>
            <div id="maze" class="project-images">
                <img class="maze" src="img/portfolio/maze.png" alt="Maze">
            </div>
        </div>

        <div class="project box">
            <div class="project-description">
                <a href="https://github.com/emboiko/Portcullis" target="_blank">Portcullis</a>
                <p>Attach a callback function(s) to your door</p>
                <img class="language" src="img/cpp.png" alt="c++">
                <p class="project-passage">
                    Made with Arduino &amp; Python
                </p>
            </div>
            <div id="portcullis" class="project-images">
                <img class="portcullis" src="img/portfolio/portcullis.png" alt="Portcullis">
            </div>
        </div>

    </div>
    {{>footer}}
</div>
{{>html_footer}}