{{>html_header}}
<div class="wrapper signup">
{{>header}}
<div id="signup-front-matter">
    <h3>Sign up to my newsletter!</h3>
    <p class="highlight">Never spam- ever.</p>
    <form id="signup" action="/signup" method="POST">
        <input placeholder="Name" type="text" name="name" id="username">
        <input placeholder="Email" type="text" name="email" id="email">
        <button class="submit">Sign me up!</button>
    </form>
</div>
{{>footer}}
</div>
{{>html_footer}}