{{>html_header}}
<div class="wrapper contact">
    {{>header}}
    <div id="front-matter" class="highlight padded">
        {{message}}
    </div>
    {{>footer}}
</div>
<script src="js/submitted.js"></script>
{{>html_footer}}